#include <behaviors.dtsi>

 / {
  zip_mouse_gesture_l8: zip_mouse_gesture_l8 {
    compatible = "zmk,input-processor-mouse-gesture";
    #input-processor-cells = <0>;

    enable-eager-mode;
    stroke-size = <250>;
    movement-threshold = <6>;
    idle-timeout-ms = <120>;
    gesture-cooldown-ms = <120>;

    snap_left   { pattern = <GESTURE_LEFT>;  bindings = <&win_snap_left>; };
    snap_right  { pattern = <GESTURE_RIGHT>; bindings = <&win_snap_right>; };
    task_view   { pattern = <GESTURE_UP>;    bindings = <&win_task_view>; };
    close_win   { pattern = <GESTURE_DOWN>;  bindings = <&win_close>; };
  };
};
